.carusel{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.base{
    position: relative;
    width: 400px;
}
.carusel-element{
    width:400px;
    box-shadow: 0px 0px 5px;
    position: absolute;
    transition: ease-out 400ms;
}